<div class="tabla-container">
    <mat-card class="tabla-card">
  
      <div class="tabla-header">
        <h2>Listado de Contactos</h2>
        <button mat-raised-button color="primary" (click)="irAFormulario(0)">
          Agregar nuevo contacto
        </button>

        <button mat-button color="warn"  (click)="logOut()">
            Cerrar Sesión
          </button>
      </div>
      
      
      <table mat-table [dataSource]="contactos" class="mat-elevation-z2 full-width-table">
  
        <!-- Nombre -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let item"> {{ item.name | titlecase }} </td>
        </ng-container>
  
        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let item"> {{ item.email | titlecase }} </td>
        </ng-container>
  
        <!-- Teléfono -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Teléfono </th>
          <td mat-cell *matCellDef="let item"> {{ item.phone | titlecase }} </td>
        </ng-container>
  
        <!-- Notas -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef> Notas </th>
          <td mat-cell *matCellDef="let item"> {{ item.notes | titlecase }} </td>
        </ng-container>
  
        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let item">
            <div class="action-buttons">
              <button mat-stroked-button color="primary" (click)="irAFormulario(item.id)">
                Editar
              </button>
              <button mat-stroked-button color="warn" (click)="eliminar(item)">
                Eliminar
              </button>
            </div>
          </td>
        </ng-container>
  
        <!-- Header y Rows -->
        <tr mat-header-row *matHeaderRowDef="['name', 'email', 'phone', 'notes', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'phone', 'notes', 'acciones'];"></tr>
  
      </table>
  
    
  
    </mat-card>
  </div>
  